.App {
    width: 900px;
    margin: 20px auto;
    border: 1px solid #000;
    .displayHeader {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 2px 10px;
        display: flex;
        height: 20px;
        background-color: #000;
        color: #fff;
        justify-content: space-between;
        h1 {
            font-size: 12px;
            line-height: 15px;
            margin: 0;
            height: 12px;
        }
        button {
            background-color: #fff;
            font-size: 9px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .mainViewport {
        display: flex;
        .sidePanel {
            width: 100px;
            padding: 10px;
            border-right: 1px solid #000;
            .scoreCard {
                h3 {
                    font-size: 14px;
                    margin: 0;
                }
                p{
                    font-size: 9px;
                    background-color: #f0f0f0;
                }
            }
        }
        .centerPanel {
            flex: 1;
            position: relative;
            .chatWindow {
                width: calc(100% - 320px);
                margin: 10px 0 10px 20px;
                border: 1px solid black;
                height: 180px;
                overflow-y: scroll;
            }
            .gameButtons {
                width: 280px;
                height: 180px;
                position: absolute;
                right: 10px;
                top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 20px;
                .gameButton {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    &.ready {
                        background-color: rgb(143, 207, 84);
                    }
                }
            }
            .ownCard {
                margin: 20px 10px 0 20px;
                width: 230px;
                height: 260px;
                border: 1px solid #000;
                border-bottom: none;
                position: relative;
                .userCard {
                    width: 100%;
                    height: 100%;
                    h5 {
                        font-size: 14px;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        margin: 0;
                    }
                    p{
                        font-size: 32px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .extraCards {
                position: absolute;
                bottom: 80px;
                right: 20px;
                width: 490px;
                padding: 30px 0;
                display: flex;
                justify-content: space-around;
                gap: 20px;
                height: 120px;
                border: 1px solid #000;
                .otherCards {
                    height: 100%;
                    width: 100px;
                    display: block;
                    position: relative;
                    border: 1px solid #000;
                    .otherCardsOverlay {
                        display: block;
                        background-color: #fff;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        animation: fadeBackground 1s infinite;
                
                        @keyframes fadeBackground {
                            0% {
                                background-color: #fff;
                            }
                            50% {
                                background-color: #f0f0f0;
                            }
                            100% {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
            .chatbox {
                height: 40px;
                position: absolute;
                bottom: 20px;
                right: 20px;
                width: 490px;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                input {
                    width: calc(100% - 60px);
                    height: 40px;
                    margin: 0 0 80px 0;
                    padding: 5px;
                    box-sizing: border-box;
                }
                button {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #b0b0b0;
                    border: none;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}